.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: beige;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.App-title {
  margin: 0;
  font-size: 5rem;
  font-family: 'VinesDay', Arial, sans-serif;
  color: #105624;
}

.App-content {
  display: flex;
  flex: 1;
}

.App-sidebar {
  width: 200px;
  background-color: #e0e0e0;
  padding: 1rem;
}

.App-sidebar nav ul {
  list-style: none;
  padding: 0;
}

.App-sidebar nav ul li {
  margin: 0.5rem 0;
}

.App-sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}

.App-main {
  flex: 1;
  padding: 1rem;
  background-color:#f8f8f8;
}



@font-face {
  font-family: 'VinesDay'; /* Name to use in your CSS */
  src: url('/public/fonts/FleurDeLeah.ttf') format('truetype'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}