.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: beige;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.App-title {
  margin: 0;
  font-size: 5rem;
  font-family: 'VinesDay', Arial, sans-serif;
  color: #105624;
}

.App-content {
  display: flex;
  flex: 1;
  background-color: #f8f8f8;
}

.App-sidebar {
  width: 225px;
  background-color: #e0e0e0;
  padding: 0rem 0rem 0rem 1.5rem;
  border-radius: 20px;
  margin: 1rem;

}

.Sidebar-title {
  font-size: 2rem;
  font-family: 'VinesDay', Arial, sans-serif;
  margin-left: 38px;
}

.App-sidebar nav ul {
  list-style: none;
  padding: 0;
  font-weight: bold;

}

.App-sidebar nav ul li {
  margin: 3rem 0;
}

.App-sidebar nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}

.App-main {
  flex: 1;
  padding: 1rem;
  background-color:#f8f8f8;
}

.nav-icons {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.search-container{
  margin-bottom:1rem;
  padding-right: 1rem;
}

.search-input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

@font-face {
  font-family: 'VinesDay'; /* Name to use in your CSS */
  src: url('/public/fonts/FleurDeLeah.ttf') format('truetype'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}