#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 9em;
  width: auto;
  padding: 1.5rem;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;
  will-change: filter;
  transition: filter 300ms;
  max-width: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  padding: 0px;}

/*.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
