.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: beige;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.App-title {
  margin: 0;
  font-size: 5rem;
  font-family: 'VinesDay', Arial, sans-serif;
  color: #105624;
}

.App-content {
  display: flex;
  flex: 1;
  background-color: #f8f8f8;
}

.App-sidebar {
  width: 225px;
  background-color: #e0e0e0;
  padding: 0rem 0rem 0rem 1.5rem;
  border-radius: 20px;
  margin: 1rem;

}

.Sidebar-title {
  font-size: 2rem;
  font-family: 'VinesDay', Arial, sans-serif;
  margin-left: 38px;
}

.App-sidebar nav ul {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.App-sidebar nav ul li {
  margin: 3rem 0;
}

.App-sidebar nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #030303;
}

.App-main {
  flex: 1;
  padding: 1rem;
  background-color:#f8f8f8;
}

.nav-icons {
  width: 30px;
  height: auto;
  margin-right: 20px;
  color: #f8f8f8;
}

.search-container{
  margin-bottom:1rem;
  padding-right: 1rem;
}

.search-input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.user-info{
  margin-top: 11rem;
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;;
  color:inherit;
  display: block;
}

.profile-pic{
  border-radius: 50%;
  margin-bottom:0rem;
}
.user-name{
  font-size:1.3rem;
  font-weight:bold;
  color: #105624;
  margin-bottom:0.2rem;
}

.username{
  margin-top:0.5rem;
  color:black;
  text-decoration:none !important;
  cursor: pointer;
}

.create-post-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #026806;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;        
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  

.post-container {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.post-textbox {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.confirm-button {
  width: 100%;
  padding: 5px;
  background-color: #025415;
  color: white;
  border: none;
  cursor: pointer;
}

.App-posts {
  padding: 10px;
}

.post {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}


.Intro-content{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh ;
  background-color: #f5f5f5;
  text-align: center;
}

.Intro-cushion{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Intro-buttons{
  padding: 10px 20px;
  margin: 0 10px; 
  background-color: #105624;
  color: #FAF9F6; 
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Profile-buttons{
  background-color: #105624;
  color: #FAF9F6;
  height: 3rem;
  width: 10rem;
}

.ProfilePage-pic{
  height:8rem;
  width: auto;
  border-radius: 50%;
  padding: 10px;                        
}


.ProfilePage-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

}

.ProfilePage-text h1, .ProfilePage-text h2 {
  margin: 0;
  padding: 3%;
}

.Profile-buttons {
  display: block;
  margin-top: 20px;
  border-radius:5px;

}

.Profile-content{
  display: block;
  margin-bottom:10px;
}

.Bio-buttons{
  background-color: #105624;
  color: #FAF9F6;
  height: 2rem;
  width: 5rem;
  border-radius:5px;
  border:0px;
}

.Profile-bio{
  margin-left: 150px;
}

.Bio-content{
  background-color: #e0e0e0;
  padding:12px;
  border-radius:10px;
}

.Bio-buttons {
  margin-top: 10px;
}

.Messages-list {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 725px;
  overflow-y: auto;
  background-color: #e0e0e0;
  border-radius: 20px;

}

.Messages-list-title {
  padding-left: 5px;
}
.Messages-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.Messages-list li {
  border-radius: 10px;
  padding: 10px;
}

.Messages-list-container {
  display: flex;
  flex-direction: column;
  width: 350px; 
  margin-left: 20px;
  list-style: none;
}

.message-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-item:hover {
  background-color: #e0e0e0;
}

@font-face {
  font-family: 'VinesDay'; 
  src: url('/public/fonts/FleurDeLeah.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.posts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refresh-button {
  background-color: #DAB1DA;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #0056b3;
}

.Chat-section {
  margin-left: 20px;
  padding: 20px;
}

.Chat-chat {
  display: flex;
  flex-direction: column;
  height: 650px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-bubble {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.sender-message {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.user-message {
  background-color: #f1f1f1;
  align-self: flex-end;
  text-align: right;
}

.Chat-input {
  display: flex;
}


.Chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #026806;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Create-chat-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.Chats-header {
  display: flex;
  align-items: center;
}

.create-chat-button {
  margin-left: 10px;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
}
